<%= form_for(@revenue) do |f| %>
  <% if @revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revenue.errors.count, "error") %> prohibited this revenue from being saved:</h2>

      <ul>
      <% @revenue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :shop %><br>
    <%= f.select :shop_id, Shop.all.collect {|x| [x.name, x.id]} %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date, :value => date_dmY(@revenue.date) %>
  </p>
  
  <p>
    

    <%= f.label :retype %><br>
    <%= f.select :retype, REV_TYPE, :selected => @revenue.retype %>
  </p>
   <p>

    <%= f.label :number %><br>
    <%= f.select :way, WAY_TYPE, :selected => @revenue.way %>
    <%= f.number_field :number %>
    <%= f.select :currency, CUR_TYPE, :selected => @revenue.currency %>
  </p>
 
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
