<h1>BABLo</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revenues.each do |revenue| %>
      <tr class=way<%= revenue.way.to_s%>>
      <td><td><%= REV_TYPE.at(revenue.retype)[2] %></td>
      <td><%= link_to date_dmY(revenue.date), revenue %></td>
      <td><%= revenue.shop_name %></td>
      <td align='right'><%= revenue.number %></td><td><%= CUR_TYPE.at(revenue.currency)[0] %></td>
        <td><%= link_to 'Show', revenue %></td>
        <td><%= link_to 'Edit', edit_revenue_path(revenue) %></td>
        <td><%= link_to 'Destroy', revenue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revenue', new_revenue_path %>
