  <div class="row">
<h1>New revenue</h1>

<%= form_for(@revenue) do |f| %>

  <% if @revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revenue.errors.count, "error") %> prohibited this revenue from being saved:</h2>

      <ul>
      <% @revenue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <p>
    <%= f.label :shop %><br>
    <%= f.select :shop_id, Shop.all.collect {|x| [x.name, x.id]} %>
  </p>
  <p>

    <%= f.label :date %><br>
    <%= f.text_field :date, :value => date_dmY(@revenue.date)  %>
    <script type="text/javascript">
  $(document).ready(function(){
    $('#revenue_date').datepicker({
      todayHighlight: true,
      todayBtn: true,
      language: "ru",
      autoclose: 'true',
      weekStart: '1'
    });
    $('select').selectpicker();
  });
</script>
  </p>

  <p>
    <%= f.label :retype %><br>
    <%= f.select :currency, CUR_TYPE, :selected => @revenue.currency %>
     <%= f.select :way, WAY_TYPE, :selected => @revenue.way %>
  </p>

</div>
   <p>

    <div class="form-group">
      <%= REV_TYPE.each do |v| %>
      <%= f.label v[2]%><br>
      <%= f.number_field  :number, name: "revenue[money[#{v[0]}]]", :class=>"form-control"  %><br>
      <% end %>
      </div>
        <div class="form-group">

        <%= f.label  "salary" %><br>
    <%= f.number_field  :number, name: "revenue[salary]", :class=>"form-control"  %>
    <br>
    <%= f.label  'expense' %><br>
    <%= f.number_field  :number, name: "revenue[expense]", :class=>"form-control"  %>
  </p>
 </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-default" %>
  </div>
<% end %>


<%= link_to 'Back', revenues_path %>
 </div>
